body{
	font-family: arial;
	text-align: center;
	background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Pour le titre principal:
- La couleur en rose
- Taille de police à 34px*/
h1{
	font-size: 34px;
background: #FFDAB9;
font-family: 'Lobster', cursive;
}

.color-lightpink {
	color: lightpink;
}
/*Pour les sous titres:
- La couleur en rose pale
- Taille de police à 24px
*/
h2, h3, h4{
	color: pink;
	font-size: 24px;
}

/*h3{
	color: pink;
	font-size: 24px;
}
h4{
	color: pink;
	font-size: 24px;
}*/


/*ul, ol, h4 {
	text-align: left;
}*/

.text-left {
	text-align: left;
}


.avatar {
	width: 300px;
	height: 300px;
	object-fit: cover; 
}

.yellow-frame {
	background: #FFDAB9;
	border: 5px solid gold;
	border-radius: 30px;
	margin: 100px;
	padding: 50px;
	box-shadow: 5px 5px 10px gold;
}

.color-lightpink {
	color: lightpink;
}


.prod {
	width: 300px;
	height: 200px;
	object-fit: cover;
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #E2F3DC;
}

.links{
	display: flex;
	justify-content: flex-end;
}

.link{
	margin: 10px 30px;
	color: #9F3442
}

.link:hover {
	color: #458D2E;
}
.btn-pink {
	display: inline-block;
	margin: 15px;
	background: #9A334F;
	border-radius: 15px;
	padding: 15px;
	color: white;
	font-weight: bold;
	border: 5px solid gold;
}

.btn-pink:hover {
	background: pink;
}

.line-transparent {
	/*height: 400px;*/
	background: gold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.line-dark {
	height: 10px;
	width: 50%;
	background: #9A334F;
}

.line-medium {
	height: 10px;
	width: 30%;
	background: #E7698B;
}

.line-light {
	height: 10px;
	width: 20%;
	background: #
	FA86A5;
}

.two-sections {
	display: flex;
}
